/* MOBILE-FIRST */
/* MOBILE-FIRST */

* {
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-size: 374px 232px, 375px 503px;
    background-repeat: no-repeat, no-repeat;
}

.contentWrapper {
    width: 80vw;
    margin: 5.5rem auto;
}

header h1 {
    text-align: center;
    width: 16rem;
    margin: 0 auto;
    line-height: 1.7rem;
    color: hsl(300, 43%, 22%);
}

header p {
    text-align: center;
    color: hsl(303, 10%, 53%);
}

.starRatingBox {
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.starRatingBox div {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

.starRatingBox h2 {
    margin: 0.4rem 0 0 0;
    font-size: 1rem;
    color: hsl(300, 43%, 22%);
    text-align: center;
}

.cutomerTestimonialBox {
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.4rem;
    padding: 2rem;
    color: hsl(300, 24%, 96%);
    margin-bottom: 1rem;
}

.customerInfo {
    display: flex;
    justify-content: flex-start;
}

.customerInfo img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.customerInfo p {
    margin: 0;
}

.verificationBadge {
    color: hsl(333, 80%, 67%);
    display: block;
}

blockquote {
    margin: 1.4rem 0 0 0;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

/* DESKTOP VERSION */
/* DESKTOP VERSION */

@media (min-width: 1440px) {
    body {
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: top left, bottom right;
        background-size: 42%, 78%;
        background-repeat: no-repeat, no-repeat;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .contentWrapper {
        width: 1110px;
        height: 580px;
        margin: 132px 165px 110px;
    }

    /* STARTING FROM THE BOTTOM 3 CARDS */
    .customerTestimonialSection {
        display: flex;
        justify-content: space-between;
    }

    .cutomerTestimonialBox {
        width: 350px;
        height: 234px;
        line-height: 1.4rem;
        padding: 2.4rem;
        margin: 0;
    }

    .cutomerTestimonialBox:nth-child(2) {
        margin-top: 1rem;
    }

    .cutomerTestimonialBox:nth-child(3) {
        margin-top: 2rem;
    }

    .customerInfo p {
        font-weight: bold;
    }

    .verificationBadge {
        font-weight: normal;
    }


    /* NOW THE DESKTOP TOP SECTION SETTINGS */

    /* FIRST, TOP LEFT SECTION */
    .desktopTopSection {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }

    .headline,
    .starRatingSection {
        width: 50%;
    }

    .headline>* {
        text-align: left;
    }

    .headline h1 {
        font-size: 3.4rem;
        margin: 0 0 1.5rem 0;
        width: 24rem;
        line-height: 3rem;
        letter-spacing: -1.5px;
    }

    .headline p {
        width: 26rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    /* SECONDLY, THE TOP RIGHT SECTION */
    .starRatingBox {
        width: 444px;
        height: 56px;
        display: flex;
        justify-content: baseline;
    }

    .starRatingBox div {
        padding-left: 24px;
    }

    .starRatingBox img {
        width: 17px;
        height: 16px;
        align-self: center;
    }

    .starRatingBox h2 {
        margin: 0 0 0 40px;
        align-self: center;
    }

    .starRatingBox:nth-child(2) {
        margin-left: 3rem;
    }

    .starRatingBox:nth-child(3) {
        margin-left: 6rem;
    }
}